<a href="https://colab.research.google.com/github/ssssoyeon/python-curriculum/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.자료형 출력하기

In [ ]:
print("hello python!")

hello python!

In [ ]:
# 정수형
x = 10
y = 5
z= x+y

print(z)
print(type(z))
print(f"{x}와 {y}의 합은 {z}입니다.")

15
<class 'int'>
10와 5의 합은 15입니다.

In [ ]:
# 실수형
pi=3.14159
radius = 5
area =pi*radius*radius

print(area)
print(f"pi: {pi}, radius:{radius}, area:{area}")
print(type(area))

78.53975
pi: 3.14159, radius:5, area:78.53975
<class 'float'>

In [ ]:
# 문자열
name="Jhon"
greeting = f"Hello, {name}"

print(greeting)
print(type(greeting))

Hello, Jhon
<class 'str'>

In [ ]:
# boolean
is_active = False

if is_active:
    print("활성화입니다.")
else:
    print("비활성화입니다.")


print(type(is_active))

비활성화입니다.
<class 'bool'>

In [ ]:
# list

numbers =[1,2,3,4,5]
numbers.append(6)
print(numbers)

print(f"리스의 길이:{len(numbers)}")
print(type(numbers))

[1, 2, 3, 4, 5, 6]
리스의 길이:6
<class 'list'>

In [ ]:
# tuple
coordinates =(10,20)

# coordinates[0]=30
print(coordinates[1])
print(type(coordinates))

20
<class 'tuple'>

In [ ]:
# dict
person={
    "name":"Alice",
    "age":30,
    "city":"seoul"
}
print(person["age"])
print(person["city"])
print(person["name"])
print(type(person))

30
seoul
Alice
<class 'dict'>

In [ ]:
# set
unique_numbers ={1,2,3,4,4,5,1,6}
print(unique_numbers)
print(type(unique_numbers))

{1, 2, 3, 4, 5, 6}
<class 'set'>

# 2.문자열 처리

In [ ]:
text = "hello python!"
print(text)
print(text[0])
print(text[-1])
print(text[0:5])
print(text[6:])
print(text[:5])

hello python!
h
!
hello
python!
hello

In [ ]:
name = "Alice"
age = 25
print(f"{name}의 나이는 {age}세 입니다.")
print("{}의 나이는 {}세 입니다.".format(name, age))

Alice의 나이는 25세 입니다.
Alice의 나이는 25세 입니다.

In [ ]:
s = "Hello Python "
print(s)
print(s.strip())
print(s.upper())
print(s.lower())

Hello Python
Hello Python
HELLO PYTHON
hello python

# 3.사용자입력

In [ ]:
name = input("이릉을 입력하세요 : ")
age = input("나이를 입력하세요 : ")
print(f"{name}님 안녕하세요! 당신의 나이는 {age}입니다.")

이릉을 입력하세요 : 소연
나이를 입력하세요 : 23
소연님 안녕하세요! 당신의 나이는 23입니다.

In [ ]:
x,y = input("두 숫자를 입력하세요 : ").split(",")
print(f"x: {x}, y: {y}")

두 숫자를 입력하세요 : 5,10
x: 5, y: 10

# 4.연산자

In [ ]:
a = int(input("첫번째 숫자를 입력하세요 "))
b = int(input("두번째 숫자를 입력하세요 "))
print("덧셈:", a + b)
print("뻴셈:", a - b)
print("곱셈:", a * b)
print("나눗셈:", a / b)
print("몫:", a // b)
print("나머지:", a % b)
print("나머지:", a ** b)

첫번째 숫자를 입력하세요 20
두번째 숫자를 입력하세요 5
덧셈: 25
뻴셈: 15
곱셈: 100
나눗셈: 4.0
몫: 4
나머지: 0
나머지: 3200000

In [ ]:
age = int(input("나이를 입력하세요 "))
is_teenager = age>=13 and age<=19
print("청소년 여부: ", is_teenager)

나이를 입력하세요 20
청소년 여부:  False

In [ ]:
score = int(input("점수를 입력하세요 "))
if score >= 60:
    print("합격입니다.")
else:
    print("불합격입니다.")

점수를 입력하세요 99
합격입니다.

# 5.실습문제

In [ ]:
#사용자로부터 이름과 나이를 입력받아 다음 형식으로 출력하시오.
name = input("이름을 입력하세요 ")
age = int(input("나이를 입력하세요 "))
print(f"{name}님은 {age}세입니다.")

이름을 입력하세요 소연
나이를 입력하세요 23
소연님은 23세입니다.

In [ ]:
#두 개의 정수를 입력받아, 덧셈 결과를 출력하시오.
num1 = int(input("첫번째 정수를 입력하세요 "))
num2 = int(input("두번째 정수를 입력하세요 "))
print(f"{num1} + {num2} = {num1+num2}")

첫번째 정수를 입력하세요 50
두번째 정수를 입력하세요 50
50 + 50 = 100

In [ ]:
#사용자로부터 반지름을 입력받아 원의 넓이를 계산하시오.
r = int(input("반지름 값을 입력하세요 "))
pi = 3.14
area = r * r * pi
print(f"원의 넓이는 {area}입니다")

반지름 값을 입력하세요 6
원의 넓이는 113.04입니다

In [ ]:
#사용자로부터 정수를 입력받아 짝수인지 홀수인지 판별하시오.
a = int(input("정수를 입력하세요 "))
if a%2==0:
    print("짝수입니다")
else:
    print("홀수입니다")

정수를 입력하세요 9
홀수입니다

In [ ]:
#사용자로부터 키(cm)와 몸무게(kg)를 입력받아 BMI 지수를 계산하시오.
height = float(input("키를 입력하세요 "))
weight = int(input("몸무게를 입력하세요 "))

height_m = height/100
bmi = weight/(height_m**2)

print(f"당신의 BMI는 {bmi:.2f}입니다.")

키를 입력하세요 160
몸무게를 입력하세요 48
당신의 BMI는 18.75입니다.

# 6.조건문

In [ ]:
x=int(input("숫자를 입력하세요"))

if x>10:
    print("x는 10보다 큽니다.")
elif x>5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

숫자를 입력하세요6
x는 5보다 큽니다.

In [ ]:
age= int(input("나이를 입력하세요"))
student=input("학생이면 '학생', 아니면 '기타'라고 적어주세요.")


if age>=18:
    if student=="학생":
        print("성인 학생입니다.")
    else:
        print("성인이지만, 학생은 아닙니다.")

나이를 입력하세요55
학생이면 '학생', 아니면 '기타'라고 적어주세요.학생
성인 학생입니다.

In [ ]:
x=3

result = "x는 5보다 큽니다." if x>5 else "x는 5보다 작습니다."
print(result)

x는 5보다 작습니다.

In [ ]:
x=12

if x>5 and x<10:
    print("x는 5보다 크고, 10보다 작습니다.")

if x<5 or x>10:
    print("x는 5보다  작거나, 10보다 큽니다.")
else:
    print("x는 5이상, 10이하입니다.")

x는 5보다  작거나, 10보다 큽니다.

In [ ]:
x=10
y=20

if x==y:
    print("x와 y는 같습니다.")
elif x!=y:
    print("x와 y는 같지 않습니다.")

x와 y는 같지 않습니다.

In [ ]:
my_list =[1,2,3,4,5]

if 3 in my_list:
    print("리스트에 3이 포함되 있습니다.")
if 6 not in my_list:
    print("리스트에 6이 포함되 있지 않습니다.")

리스트에 3이 포함되 있습니다.
리스트에 6이 포함되 있지 않습니다.

# 7.실습문제

In [ ]:
# 정수형
x = 10
y = 5
z = x + y

print(z)
print(type(z))
print(f"{x}와 {y}의 합은 {z}입니다.")

15
<class 'int'>
10와 5의 합은 15입니다.

In [ ]:
# 실수형
pi = 3.14159
radius = 5
area = pi * radius * radius

print(area)
print(type(area))
print(f"pi:{pi}, radius: {radius}, area: {area}")

78.53975
<class 'float'>
pi:3.14159, radius: 5, area: 78.53975

In [ ]:
# 문자열
name = "john"
greeting = f"Hello, {name}"

print(greeting)
print(type(greeting))

Hello, john
<class 'str'>

In [ ]:
# boolean
is_active = False
if is_active:
    print("활성화입니다.")
else:
    print("비활성화입니다.")

print(type(is_active))

비활성화입니다.
<class 'bool'>

In [ ]:
# list
numbers = [1, 2, 3, 4, 5]
numbers.append(6)

print(f"리스트의 길이: {len(numbers)}")
print(numbers)
print(type(numbers))

리스트의 길이: 6
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [ ]:
# tuple
coordinates = (10,20)

#coordinates[0] = 30 고정값이기 때문에 값을 바꿀 수 없음
print(coordinates[1])
print(type(coordinates))

20
<class 'tuple'>

In [ ]:
# dict
person = {
    "name": "Alice",
    "age": 30,
    "city": "seoul"
}
print(person["name"])
print(person["age"])
print(person["city"])
print(type(person))

Alice
30
seoul
<class 'dict'>

In [ ]:
# set
unique_numbers = {1, 2, 3, 4, 4, 5, 6, 1}
print(unique_numbers)
print(type(unique_numbers))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [ ]:
x = int(input("숫자를 입력하세요 "))

if x>10:
    print("x는 10보다 큽니다.")
elif x>5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

숫자를 입력하세요 1
x는 5보다 작거나 같습니다.

In [ ]:
age = int(input("나이를 입력하세요 "))
student = input("학생이면 '학생', 아니면 '기타'라고 적어주세요. ")

if age>=18:
    if student == "학생":
        print("대학생입니다.")
    else:
        print("성인이지만, 학생은 아닙니다.")

나이를 입력하세요 23
학생이면 '학생', 아니면 '기타'라고 적어주세요. 기타
성인이지만, 학생은 아닙니다.

In [ ]:
x=3

result = "x는 5보다 큽니다." if x>5 else "x는 5보다 작습니다."
print(result)

x는 5보다 작습니다.

In [ ]:
x=12

if x>5 and x<10:
    print("x는 5보다 크고, 10보다 작습니다.")

if x<5 or x>10:
    print("x는 5보다 작거나, 10보다 큽니다.")
else:
    print("x는 5이상, 10이하입니다.")

x는 5보다 작거나, 10보다 큽니다.

In [ ]:
x=10
y=20

if x==y:
    print("x와 y는 같습니다.")
elif x!=y:
    print("x와 y는 같지 않습니다.")

x와 y는 같지 않습니다.

In [ ]:
my_list = [1,2,3,4,5]
if 3 in my_list:
    print("리스트에 3이 포함되어 있습니다.")
if 6 not in my_list:
    print("리스트에 6이 포함되어 있지않습니다.")

리스트에 3이 포함되어 있습니다.
리스트에 6이 포함되어 있지않습니다.

# 8-3 배열반복문

In [ ]:
nums=[]
for num in range(10):
    num+=1

    nums.append(num)

print(nums)

for i in range(1,11,2):
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
3
5
7
9

In [ ]:
str1 = "안녕하세요"

num = int(input("숫자를 입력하세요: "))

for i in range(num):
    print(str1)

숫자를 입력하세요: 4
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
result=""
for i in range(1,101,2):
    result+=str(i+1)+","
print(result.rstrip(","))
    # print(i+1)

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100

In [ ]:
nums = []

for num in range(5):
    num = int(input(f"{num+1}번 숫자를 입력하세요"))

    nums.append(num)

print(nums)

1번 숫자를 입력하세요4
2번 숫자를 입력하세요8
3번 숫자를 입력하세요9
4번 숫자를 입력하세요3
5번 숫자를 입력하세요5
[4, 8, 9, 3, 5]

In [ ]:
sum = 0

for i in range(11):
    sum+=i
print(f"총 합은: {sum} ")

총 합은: 55

# 9-1 함수의 정의

In [1]:
def greet(name):
    return f"Hello, {name}!"

message = greet("Alice")
print(message)

Hello, Alice!

In [3]:
def add(a,b):
    return a+b

result = add(5,9)

print(result)

def multy(x,y,z):
    return x*y*z

result2 = multy(3,2,1)

print(result2)

14
6

# 9-2 함수의 유형

In [4]:
#매개변수, 반환값이 없는 함수
def say_hello():
    print("hello")

say_hello()

hello

In [13]:
def greet(name="guest"):
    print(f"hello {name}님!")
greet("Alice")
greet()

def new_greet(user="guest", age=13):
    # 님의 나이는 살입니다...
    print(f"{user}님의 나이는 {age}살 입니다.")

new_greet("soyeon", 23)
new_greet()

hello Alice님!
hello guest님!
soyeon님의 나이는 23살 입니다.
guest님의 나이는 13살 입니다.

In [14]:
def add_numbers(*keyword):
    return sum(keyword)
print(add_numbers(1,2,3))

6

In [15]:
def print_info(**keys):
    for key, value in keys.items():
        print(f"{key}:{value}")
print_info(name="Alice", age=25, city="Seoul")

name:Alice
age:25
city:Seoul

# 9-3 lambda

In [17]:
square = lambda x:x**2
print(square(5))
print(square(6))

circle= lambda a,b,c:a*b*c
print(circle(1,2,3))

25
36
6

# 9-4 실습예제

In [19]:
numbers = [1,2,3,4,5]

squares = list(map(lambda x:x**2, numbers))

print(squares)

[1, 4, 9, 16, 25]

In [20]:
numbers = [10,15,21,30,33,40]

result = list(filter(lambda x:x%3==0, numbers))

print(result)

[15, 21, 30, 33]

In [21]:
students = [
    ("홍길동",90),
    ("이순신",80),
    ("유관순",60)
]
sorted_students = sorted(students, key=lambda x:x[1], reverse=True)

print(sorted_students)

[('홍길동', 90), ('이순신', 80), ('유관순', 60)]