<a href="https://colab.research.google.com/github/ssssoyeon/python-curriculum/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.자료형 출력하기

In [ ]:
print("hello python!")

hello python!

In [4]:
# 정수형
x = 10
y = 5
z = x + y

print(z)
print(type(z))
print(f"{x}와 {y}의 합은 {z}입니다.")

15
<class 'int'>
10와 5의 합은 15입니다.

In [8]:
# 실수형
pi = 3.14159
radius = 5
area = pi * radius * radius

print(area)
print(type(area))
print(f"pi:{pi}, radius: {radius}, area: {area}")

78.53975
<class 'float'>
pi:3.14159, radius: 5, area: 78.53975

In [9]:
# 문자열
name = "john"
greeting = f"Hello, {name}"

print(greeting)
print(type(greeting))

Hello, john
<class 'str'>

In [12]:
# boolean
is_active = False
if is_active:
    print("활성화입니다.")
else:
    print("비활성화입니다.")

print(type(is_active))

비활성화입니다.
<class 'bool'>

In [15]:
# list
numbers = [1, 2, 3, 4, 5]
numbers.append(6)

print(f"리스트의 길이: {len(numbers)}")
print(numbers)
print(type(numbers))

리스트의 길이: 6
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [17]:
# tuple
coordinates = (10,20)

#coordinates[0] = 30 고정값이기 때문에 값을 바꿀 수 없음
print(coordinates[1])
print(type(coordinates))

20
<class 'tuple'>

In [19]:
# dict
person = {
    "name": "Alice",
    "age": 30,
    "city": "seoul"
}
print(person["name"])
print(person["age"])
print(person["city"])
print(type(person))

Alice
30
seoul
<class 'dict'>

In [21]:
# set
unique_numbers = {1, 2, 3, 4, 4, 5, 6, 1}
print(unique_numbers)
print(type(unique_numbers))

{1, 2, 3, 4, 5, 6}
<class 'set'>